{% extends "header_and_footer.html" %}
{% load static %}

{% block header_and_footer %}



{% for accessories_product in accessories_list %}
    
           
    <div class="card mt-5 ms-5" style="width: 18rem;">
        <img  src="{{accessories_product.image.url}}" alt="Card image cap">
        <div  class="card-body">
          <h3 class="card-title">{{accessories_product.brand}}</h3>
          <p class="card-text">{{accessories_product.name}}</p>
          <p class="card-text" style="color: red;">{{accessories_product.price}}</p>
          <td ><a href="" style="color: red;">add to cart</a> / <a href="" style="color: red;">buy now</a></td>
         
        </div>
    </div>
             
    {% endfor %}


{% endblock header_and_footer %}