{% extends "header_and_footer.html" %}
{% load static %}

{% block header_and_footer %}

<!-- Container for Bootstrap grid -->
<div class="container mt-5">
    <div class="row">
        {% for accessories_product in combined_accessories %}
            <!-- Card Column -->
            <div class="col-md-3 mb-4">
                <div class="card d-flex flex-column" style="height: 100%;">
                    <img src="{{ accessories_product.image.url }}" class="card-img-top" alt="Card image cap" style="object-fit: cover; height: 200px;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ accessories_product.brand }}</h5>
                        <p class="card-text">{{ accessories_product.name }}</p>
                        <p class="card-text" style="color: red;">{{ accessories_product.price }}</p>
                        <div class="mt-auto">
                            <div class="mt-2">
                                <a href="#" class="btn btn-outline-danger me-2">Add to Cart</a>
                                <a style="margin-top: 10px;" href="{% url 'detail_product' accessories_product.pk %}" class="btn btn-primary">Full Details</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>





<div class="container mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if combined_shoes.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">« First</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ combined_shoes.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">
                    Page {{ combined_shoes.number }} of {{ combined_shoes.paginator.num_pages }}.
                </span>
            </li>

            {% if combined_shoes.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ combined_shoes.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ combined_shoes.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">Last »</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>


{% endblock header_and_footer %}
