{% extends "customer/header_and_footer.html" %}

{% block customer %}
<div class="col-lg-5">
    <div class="card bg-primary text-white rounded-3">
        <div class="card-body">
            <form action="" method="post">

                {% csrf_token %}


            <div class="d-flex justify-content-between align-items-center mb-4">
                
              
                <h5 class="mb-0">Card detail</h5>
                
                
            </div>
            <p class="small mb-2">Card type</p>
            <a href="#!" class="text-white" >
                <i class="fab fa-cc-mastercard fa-2x me-2"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-cc-visa fa-2x me-2"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-cc-amex fa-2x me-2"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-cc-paypal fa-2x"></i>
            </a>

            <form class="mt-4">
                <div class="form-outline form-white mb-4">
                    <input type="text"  name="user_card_name" class="form-control form-control-lg" size="17" placeholder="Cardholder's Name" />
                    <label class="form-label" for="typeName" >card_holder_name</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input type="text" id="typeText"  name="user_card_number" class="form-control form-control-lg" size="17"placeholder="enter 16 digit number" />
                    <label class="form-label" for="typeText" >card_number</label>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-outline form-white">
                            <input  type="text" id="typeExp" name="user_card_expiration" class="form-control form-control-lg"placeholder="MM/YYYY" size="7" minlength="7" maxlength="7" />
                            <label class="form-label" for="typeExp" >card_expiration</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-outline form-white">
                            <input type="password" id="typeCvv" name="user_cvv" class="form-control form-control-lg"placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                            <label class="form-label" for="typeCvv" >card_cvv</label>
                        </div>
                    </div>
                </div>
                <button type="submit">pay</button>
            </form>

            <hr class="my-4">

            
           


            <!-- <button type="submit" 
                class="btn btn-info btn-block btn-lg">
                <div class="d-flex justify-content-between">
                    <span>pay</span>
                </div>
            </button> -->
        </form>
        </div>
    </div>
</div>

{% endblock customer %}