{% extends "admin/home_page.html" %}

{% block content %}

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="row">serial no</th>
        <th scope="col">NAME</th>
        <th scope="col">CONTACT</th>
        <th scope="col">EMAIL</th>
        <th scope="col">SHOPE ADDRESS</th>
        

      </tr>
    </thead>
    <tbody>
        {% for y in reject_seller %}
        
        <tr>
            <td>{{forloop.counter}}
            <td>{{y.Name}}</td>
            <td>{{y.contact}}</td>
            <td>{{y.email}}</td>
            <td>{{y.shop_address}}</td>
            
          
          </tr>
     
      {% endfor %}
     
    </tbody>
  </table>


{% endblock content %}




