{% extends "admin/home_page.html" %}

{% block content %}

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="row">serial no</th>
        <th scope="col">NAME</th>
        <th scope="col">CONTACT</th>
        <th scope="col">EMAIL</th>
        <th scope="col">SHOPE ADDRESS</th>
        <th scope = "col">Approve/reject</th>

      </tr>
    </thead>
    <tbody>
        {% for i in s_list %}
        
        <tr>
            <td>{{forloop.counter}}
            <td>{{i.Name}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.email}}</td>
            <td>{{i.shop_address}}</td>

            {% comment %} <td>
                {% if zx.status == 0 %}
                 <button><a href="{% url 'approved_manager' zx.id %}"> approve </a></button>
         
                 <button><a href="{% url 'rejected_manager' zx.id %}">reject</a></button>
                      
             {% elif zx.status == 1 %}
                 <p>approved</p>     
                 
                 {% else %}

                 <p>rejected</p>
                 {% endif %} 
         
             </td>
            {% endcomment %}
          
          </tr>
     
      {% endfor %}
     
    </tbody>
  </table>


{% endblock content %}




