{% extends "admin/home_page.html" %}

{% block content %}

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="row">serial no</th>
        <th scope="col">NAME</th>
        <th scope="col">CONTACT</th>
        <th scope="col">EMAIL</th>
        <th scope="col">SHOPE ADDRESS</th>
        <th scope = "col">Approve/reject</th>

      </tr>
    </thead>
    <tbody>
        {% for i in s_list %}
        
        <tr>
            <td>{{forloop.counter}}
            <td>{{i.Name}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.email}}</td>
            <td>{{i.shop_address}}</td>

           <td>
              {% if i.status == 0 %}
                <button><a href="{% url "approval_seller" i.id %}"> approve </a></button>
         
                <button><a href="{% url "reject_seller" i.id %}">reject</a></button>
                      
             {% elif i.status == 1 %}
                 <p>approved</p>     
                 
                 {% else %}

                 <p>rejected</p>
                 {% endif %} 
                </td>
         
             </td>
            
          
          </tr>
     
      {% endfor %}
     
    </tbody>
  </table>


{% endblock content %}




